.navbar {
  background-color: var(--elements);
  padding: 1rem 0;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content h2 {
  font-size: 1.2rem;
  font-weight: 800;
}
.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.details-page {
  margin-top: 2rem;
}

.back-btn {
  padding: 0.5rem 2rem;
  background-color: var(--elements);
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.details-content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.details-flag {
  width: 400px;
  border-radius: 6px;
}

.details-info {
  max-width: 500px;
}

.info-columns {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.borders {
  margin-top: 2rem;
}

.border-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.border-btn {
  background-color: var(--elements);
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.85rem;
}
@media (max-width: 768px) {
  .details-content {
    flex-direction: column;
    align-items: center;
  }

  .details-flag {
    width: 100%;
    max-width: 350px;
  }

  .info-columns {
    flex-direction: column;
  }

  .top-controls {
    flex-direction: column;
    gap: 1rem;
  }
}
